@charset "UTF-8";

:root{
    --fonte1:  Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fonte3: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
    
}
   
header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 1.5em; 
}

header > p{
    padding-bottom: 50px;
    font-size: 1em;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
  padding: 10vh 0vh 10vh 30px;
  line-height: 2em;
  font-family: var(--fonte3);
  font-size: 1.5em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.689);
    box-shadow: inset 3px 7px 13px 0px black;
    color: white;
    background-size:cover;
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.512);
    text-shadow: 2px 1px 0px black;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;


}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}